* {
    margin: 0;
    padding: 0;
} /* arregla margen blanco derecho*/
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* generales */
body {
    font-family: 'Lato', sans-serif !important;
}

.scroll{
    position: relative;
}

a {
    text-decoration: none;
    color: white !important;
}

li {
    list-style: none;
    font-size: 20px;
}

a:hover {
    color: #E7B424 !important;
}

.bold {
    font-weight: bold;
}

/*header*/
header {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

nav {
    margin: 5px !important;
}

nav a img {
    height: 2rem;
}

.nav-item {
    margin-right: 20px;
}

.active {
    color: #E7B424 !important;
}

.active:hover {
    color: white !important;
}

/* Sección principal */

#principal {
    height: 100vh;
    width: 100%;
    background: url(img/background-edificios.jpg) no-repeat center;
    background-size: cover;
}

#principal img {
    width: 55%;
}

h1 {
    padding: 10px 3px;
}

.contenido-principal {
    vertical-align: text-bottom;
    position: absolute;
    bottom: 160px;
    left: 100px;
}

/* Sobre*/
#sobre-castano {
    padding: 90px 0px;
}

.sobre-texto-div p:first-child {
    margin-bottom: 30px;
}

#sobre-castano p {
    font-size: 19px;
}

#izquierda {
     padding-bottom: 45px;
}

#derecha {  
    padding-top: 45px;
}

/* frase*/
#contenedor-frase {
    height: 60vh;
    width: 100%;
    text-align: center;
    color: white;
    background: url(img/montevido.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: calc(1.5rem + .9vw)!important;
    font-weight: bold;
}

/*Servicios*/
main{
    padding: 60px 0px!important;
}
main h3{
    color: #E7B424;
    font-weight: bold;
    padding-bottom: 20px;
}

h4 {
    font-weight: bold;
}

main img{
    margin:30px 0px;
}
main p{
    color:#4D4D4D; 
}

/*Contacto section*/

#contacto {
    background-color: #F2F2F2;
}

#contacto p {
    font-size: 18px;
}

i {
    color: #E7B424;
    font-size: 32px;
}

#contacto h3{
    font-size: 36px;
    font-weight: bold;
}

/*form*/

input,
textarea {
    display: block;
    /*border*/
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: 1px #212121 solid;
    background-color: #F2F2F2;
    width: 100%;
    margin-bottom: 10px !important;
}

textarea {
    height: 120px;
}

form button {
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

/*footer*/
footer {
    background-color: #212121;
    color: white;
    padding: 40px 60px 10px 60px !important;
}

footer li {
    margin-bottom: 10px !important;
    font-size: 18px;
}

footer a {
    text-decoration: none;
}

footer .bold {
    font-size: 18px;
}

footer img {
    width: 90%;
    margin-bottom: 10px;
}